@model IEnumerable<Produccion.Data.Entities.Fabric>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="fa-solid fa-toilet-paper"></i> Telas</h1>

<p>
    <a asp-action="Create" class="btn btn-dark mb-2" style="float:right">Agregar Tipo de Tela <i class="fa-solid fa-circle-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square text-dark"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash-can text-dark"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
