@model Produccion.Models.EditUserViewModel
@{
    ViewData["Title"] = "Edit";
}
<flash dismissable="true" />

<div class="row">
    <div class="col-md-12 offset-12">
        <div class="card bg-dark mb-3 " >
            <h2 class="text-light m-2"><i class="fa-solid fa-user-pen"></i> Editar Usuario</h2>
            <div class="card-body bg-light">
                <div class="col-md-12">
                    <form asp-action="ChangeUser">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <partial name="_User" />

                        <div class="form-group mt-2">
                            <input type="submit" value="Guardar" class="btn btn-outline-dark" />
                            <a asp-action="ChangePassword" class="btn btn-outline-dark">Cambiar Contraseña</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}