html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:lightgray;
  background-image:url("../images/textil.webp");
  background-attachment:fixed;
  
}

div {
    margin-top: 5px;
}

.module {
    padding: 10px;
    position: relative;
    width: 48%;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #00000077;
    color: white;
}

.module.one{
    float: left;
}

.module.two{
    float:right;
}

.module h4{
    
    margin:0;
    padding: 0;
    border:none;
    text-align: center;
}

.head {
    text-align: center;
    color: white;
    background-color: #00000077;
    border-radius:5px;
    height: 150px;
    padding: 10px;
}

h1 {
    color: white;
}
.privacy {
    color: white;
    background-color: #00000077;
}

.separador {
    opacity:0.8;
    border-top: 5px double white;
    background-color:transparent;
}
.boton{
    text-align: right;
}