@model Produccion.Models.ProductionOrderViewModel

@{
    ViewData["Title"] = "Nueva Orden";
}
<flash dismissable="true" />
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card bg-dark mb-3 " >
            <h3 class="panel-title text-light m-2"><i class="fa-solid fa-cart-flatbed"></i> Agregar una orden de producción</h3>
            <div class="container smfont bg-light">
                <form asp-action="AddOrEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Colors"/>
                    <input type="hidden" asp-for="Fabrics"/>
                    <input type="hidden" asp-for="RawMaterials"/>

                    <div class="form-group" >
                        <label asp-for="Unidades" class="control-label"></label>
                        <input asp-for="Unidades" class="form-control" />
                        <span asp-validation-for="Unidades" class="text-danger"></span>
                
                    </div>
                    <div class="form-group">
                        <label asp-for="ColorId" class="control-label"></label>
                        <select asp-for="ColorId" asp-items="Model.Colors" class="form-control"></select>
                        <span asp-validation-for="ColorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FabricId" class="control-label"></label>
                        <select asp-for="FabricId" asp-items="Model.Fabrics" class="form-control"></select>
                        <span asp-validation-for="FabricId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RawMaterialId" class="control-label"></label>
                        <select asp-for="RawMaterialId" asp-items="Model.RawMaterials" class="form-control"></select>
                        <span asp-validation-for="RawMaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GarmentId" class="control-label"></label>
                        <select asp-for="GarmentId" asp-items="Model.Garments" class="form-control"></select>
                        <span asp-validation-for="GarmentId" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Agregar" class="btn btn-dark" />
                        <a asp-action="Index" class="btn btn-dark">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
        $("#ColorId").change(function () {
            $("#RawMaterialId").empty();
            $("#RawMaterialId").append('<option value="0">[Selecciona un material...]</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRawMaterialColor")',
                dataType: 'json',
                data: { colorId: $("#ColorId").val() },
                success: function(rawMaterials) { 
                    $.each(rawMaterials, function (i, rawMaterial) {
                        $("#RawMaterialId").append('<option value="'
                            + rawMaterial.id + '">'
                            + rawMaterial.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve rawMaterial.' + ex);
                }
            });
            return false;
        })
    });
    </script>
}
